* {
    font-family: 'Montserrat';
    scroll-behavior: smooth;
    transition: all .3s ease-in-out;
}

body {
    color: #fff;
    padding: 0;
    margin: 0;
    margin-bottom: 200px;
}

::-webkit-scrollbar {
    width: 0;
}

p {
    font-size: 18px;
    text-indent: 20px;
}


header {
    position: sticky;
    top: 10px   ;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    z-index: 1000;

    h1 {
        backdrop-filter: blur(20px);
        padding: 10px 20px;
        border-radius: 20px;
        color: #fff;
        z-index: 10;
        text-shadow: .1em .1em .2em rgba(0 ,0 ,0, .5);
    }
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
}


.row {
    background-color: rgba(255, 255, 255, .5);
    border: 2px solid rgba(0 ,0 ,0, .5);
    padding: 20px 50px;
}

.col-2 {
    
    p {
        width: 500px;
    }
}

.img-container {
    aspect-ratio: 1 / 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    width: 200px;

    img {
        height: 200px;
        background-color: #fff;
    }
}

.img-container:hover {
    transform: scale(1.5);
    box-shadow: .1em .1em .5em rgba(0 ,0 ,0, .5);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 70px;
    color: #000;
}

/* .row-2 {
    background-color: rgba(0 ,0 ,0, .5);

    .content-2 {
        
    }

    .content-2 {
        display: flex;
        flex-direction: row-reverse;
        color: #fff;

        .col-1 {
            .img-container:hover {
                transform: translateX(100px)scale(1.5) rotateZ(45deg);
                box-shadow: .1em .1em .5em rgba(0 ,0 ,0, .5);

                img {
                    box-shadow: .2em .2em .3em rgba(0 ,0 ,0, .5);
                    transform: rotateZ(-45deg);
                    border: 5px solid rgba(0 ,0 ,0, .5);
                }
            }
        }
    }
} */

.row-4 {
    background-color: rgba(0 ,0 ,0, .5);

    .content-4 {
        display: flex;
        flex-direction: row-reverse;
        color: #fff;

        .col-1 {
            .img-container:hover {
                transform: translateX(100px)scale(1.5) rotateZ(45deg);
                box-shadow: .1em .1em .5em rgba(0 ,0 ,0, .5);

                img {
                    box-shadow: .2em .2em .3em rgba(0 ,0 ,0, .5);
                    transform: rotateZ(-45deg);
                    border: 5px solid rgba(0 ,0 ,0, .5);
                }
            }
        }
    }
    
}

/* .row-5 {

    .content-5 {
        .col-1 {
            .img-container:hover {
                transform: translateX(-100px) scale(1.5) rotateZ(-45deg);
                box-shadow: .1em .1em .5em rgba(0 ,0 ,0, .5);

                img {
                    box-shadow: .2em .2em .3em rgba(0 ,0 ,0, .5);
                    transform: rotateZ(45deg);
                    border: 5px solid rgba(0 ,0 ,0, .5);
                }
            }
        }
    }
} */

/* .row-6 {
    background-color: rgba(0 ,0 ,0, .5);

    .content-6 {
        display: flex;
        flex-direction: row-reverse;
        color: #fff;

        .col-1 {
            .img-container:hover {
                transform: translateX(100px)scale(1.5) rotateZ(45deg);
                box-shadow: .1em .1em .5em rgba(0 ,0 ,0, .5);

                img {
                    box-shadow: .2em .2em .3em rgba(0 ,0 ,0, .5);
                    transform: rotateZ(-45deg);
                    border: 5px solid rgba(0 ,0 ,0, .5);
                }
            }
        }
    }
    
} */

/* .row-7 {

    .content-7 {
        .col-1 {
            iframe {
                aspect-ratio: 1 / 1;
                height: 200px;
            }

            .img-container:hover {
                transform: translateX(-100px) scale(1.5) rotateZ(-45deg);
                box-shadow: .1em .1em .5em rgba(0 ,0 ,0, .5);

                iframe {
                    box-shadow: .2em .2em .3em rgba(0 ,0 ,0, .5);
                    transform: rotateZ(45deg);
                    border: 5px solid rgba(0 ,0 ,0, .5);
                }
            }
        }
    }
} */

/* .row-8 {
    background-color: rgba(0 ,0 ,0, .5);

    .content-8 {
        display: flex;
        flex-direction: row-reverse;
        color: #fff;
        .col-1 {
            iframe {
                aspect-ratio: 1 / 1;
                height: 200px;
            }

            .img-container:hover {
                transform: translateX(100px) scale(1.5) rotateZ(45deg);
                box-shadow: .1em .1em .5em rgba(0 ,0 ,0, .5);

                iframe {
                    box-shadow: .2em .2em .3em rgba(0 ,0 ,0, .5);
                    transform: rotateZ(-45deg);
                    border: 5px solid rgba(0 ,0 ,0, .5);
                }
            }
        }
    }
} */

.rowWithFrame {

    .content {
        .col-1 {
            iframe {
                aspect-ratio: 1 / 1;
                height: 200px;
            }

            .img-container:hover {
                transform: translateX(-100px) scale(1.5) rotateZ(-45deg);
                box-shadow: .1em .1em .5em rgba(0 ,0 ,0, .5);

                iframe {
                    box-shadow: .2em .2em .3em rgba(0 ,0 ,0, .5);
                    transform: rotateZ(45deg);
                    border: 5px solid rgba(0 ,0 ,0, .5);
                }
            }
        }
    }
}

.rowWTrans {

    .content {
        .col-1 {
            iframe {
                aspect-ratio: 1 / 1;
                height: 200px;
            }

            .img-container:hover {
                transform: translateX(-100px) scale(1.5) rotateZ(-45deg);
                box-shadow: .1em .1em .5em rgba(0 ,0 ,0, .5);

                img {
                    box-shadow: .2em .2em .3em rgba(0 ,0 ,0, .5);
                    transform: rotateZ(45deg);
                    border: 5px solid rgba(0 ,0 ,0, .5);
                }
            }
        }
    }
}

.row-reverse {
    background-color: rgba(0 ,0 ,0, .5);

    .content {
        display: flex;
        flex-direction: row-reverse;
        color: #fff;
        .col-1 {
            iframe {
                aspect-ratio: 1 / 1;
                height: 200px;
            }

            .img-container:hover {
                transform: translateX(100px) scale(1.5) rotateZ(45deg);
                box-shadow: .1em .1em .5em rgba(0 ,0 ,0, .5);

                iframe {
                    box-shadow: .2em .2em .3em rgba(0 ,0 ,0, .5);
                    transform: rotateZ(-45deg);
                    border: 5px solid rgba(0 ,0 ,0, .5);
                }

                img {
                    box-shadow: .2em .2em .3em rgba(0 ,0 ,0, .5);
                    transform: rotateZ(-45deg);
                    border: 5px solid rgba(0 ,0 ,0, .5);
                }
            }
        }
    }
}

/* .row-12 {
    background-color: rgba(0 ,0 ,0, .5);

    .content {
        display: flex;
        flex-direction: row-reverse;
        color: #fff;
        .col-1 {
            iframe {
                aspect-ratio: 1 / 1;
                height: 200px;
            }

            .img-container:hover {
                transform: translateX(100px) scale(1.5) rotateZ(45deg);
                box-shadow: .1em .1em .5em rgba(0 ,0 ,0, .5);

                img {   
                    box-shadow: none;
                    transform: rotateZ(-45deg);
                    background-color: transparent;
                    border: none
                }
            }
            
        }
    }
} */

.col-1 {
    .img-container:hover {
        transform: translateX(-100px) scale(1.5) rotateZ(-45deg);
        box-shadow: .1em .1em .5em rgba(0 ,0 ,0, .5);

        img {
            box-shadow: .2em .2em .3em rgba(0 ,0 ,0, .5);
            transform: rotateZ(45deg);
            border: 5px solid rgba(0 ,0 ,0, .5);
        }
    }
}


.autoShow {
    animation: autoShowAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoShowAnimation {
    from {
        opacity: 0;
        transform: translateY(200px) scale(0.3);
    } to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.autoShowFromRight {
    animation: autoShowFromRightAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoShowFromRightAnimation {
    from {
        opacity: 0;
        transform: translateX(200px);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

.autoShowTextFromRight {
    animation: autoShowTextFromRightAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoShowTextFromRightAnimation {
    from {
        opacity: 0;
        transform: translateX(300px) scale(.3);
    } to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}

.autoShowFromLeft {
    animation: autoShowFromLeftAnimation both;
    animation-timeline: view(70% 5%);
}

@keyframes autoShowFromLeftAnimation {
    from {
        opacity: 0;
        transform: translateX(-300px) scale(.3);
    } to {
        opacity: 1;
        transform: translateX(0) scale(1);
    }
}
.showFromLeft {
    animation: autoShowFromLeftAnimation .5s ease;
}

.showFromRight {
    animation: autoShowTextFromRightAnimation .5s ease;
}

.show {
    animation: showAnim .2s ease-in;
}

@keyframes showAnim {
    from {
        opacity: 0;
        transform: scale(.5) rotateY(45deg);
    } to {
        opacity: 1;
        transform: translateY(0) scale(1) rotateY(0deg);
    }
}

